.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal span {
    margin-top: 30px;
    position: relative;
}

@media screen and (width: 1024px){
    .swiper-button-next ,
    .swiper-button-prev {
        width: 400px;
    }
}

@media screen and (width: 768px){
    .swiper-button-next ,
    .swiper-button-prev {
        width: 650px;
    }
}