---
import Layout from '@/layouts/Layout.astro';
import Header from '@/sections/Header.astro';
import Navbar from '@/sections/Navbar.astro';
import Footer from '@/sections/Footer.astro';
import Home from '@/sections/Home.astro';
import Especificaciones from '@/sections/Especificaciones.astro';
import Caracteristicas from '@/sections/Caracteristicas.astro';
import Whatsapp from '@/components/Whatsapp.astro';
---

<Layout title="Limite Sur" description='Cabaña de alquiler rodeada de vegetación, montañas y lagos, un lugar único en la Patagonia.'>
	
	<main>
		<Home/>
		<Especificaciones/>
		<Caracteristicas/>
	</main>
</Layout>

<style>

</style>
