---
import IconMenu from '../components/icons/icon-menu.astro'
import '../styles/form.css'
import {ContactForm} from './ContactForm.jsx'
---

<div id="reservar" class="m-4">
    <div class="flex justify-end items-center mb-20">
        <span class="font-tajawal text-md lg:text-2xl text-white font-thin">CERRAR FORMULARIO</span>
        <IconMenu id="close-form" class="cursor-pointer size-8" />
    </div>
    <h1 class="font-tajawal font-[300] text-xl lg:text-4xl text-white mb-8 uppercase">Haz tu reserva rellenando el siguiente formulario</h1>
    <ContactForm client:visible/>
</div>

<script src="../components/Form.js"/>

  