---
import WhatsappLogo from '../components/icons/icon-whatsapp.astro';
---

<div class="fixed bottom-0 right-0 mr-3 mb-3 z-50 border border-transparent rounded-3xl bg-[#4caf50] p-[0.4rem]">
    <a href="https://wa.me/+5492945598095" target="_blank" rel="noopener"><WhatsappLogo class="size-8 text-white"/></a>
</div>