---
import LogoFooter from "@/../public/logo-color.png"
import IconMap from "@/components/icons/icon-map.astro"
import IconPhone from "@/components/icons/icon-phone.astro"
import IconMail from "@/components/icons/icon-mail.astro"
import IconBooking from "@/components/icons/icon-booking.astro"
import IconTrivago from "@/components/icons/icon-trivago.astro"
import { Image } from "astro:assets"
---

<footer class="mt-20 md:mt-40 mb-10 h-full">
    <div class="grid grid-rows-3 md:grid-rows-none md:grid-flow-col  md:grid-cols-[180px_4fr] lg:grid-cols-none lg:grid-cols- lg:auto-cols-max gap-x-6 xl:gap-x-20 justify-center justify-items-center px-4">
        <div class="object-cover flex items-center">
            <Image src={LogoFooter} alt='Logo-footer' class="overflow-hidden lg:w-[160px] lg:h-[100px] xl:w-[200px] xl:h-[140px]" />
        </div>
        <div class="flex flex-col justify-center items-center md:items-start">
            <a class="flex items-center mb-2" href="https://maps.app.goo.gl/Fv67QVfh32xACF5S6" target="_blank" rel="noopener">
                <IconMap class="text-primary"/>
                <span class="ml-1 text-primary w-64 md:w-64 xl:w-80 tajawal font-regular text-sm md:text-sm text-pretty">Las Lauras 935, U9200 Esquel, Chubut, Argentina, Esquel, Futaleufú, Chubut</span>
            </a>
            <a class="flex items-center mb-2" href="https://wa.me/+5492945598095" target="_blank" rel="noopener">
                <IconPhone class="text-primary"/>
                <span class="ml-1 text-primary tajawal font-regular text-sm md:text-lg">+54 9 2945 598095</span>
            </a>
            <a class="flex items-center mb-2" href="mailto:limitesuresquel@gmail.com" target="_blank" rel="noopener">
                <IconMail class="text-primary"/>
                <span class="ml-1 text-primary tajawal font-regular text-sm md:text-lg">limitesuresquel@gmail.com</span>
            </a>
        </div>
        <div class="hidden md:flex flex-col gap-y-4 mb-6">
            <h1 class="uppercase tajawal text-primary font-semibold text-xs xl:text-lg">Enlaces</h1>
            <ul class="flex flex-col gap-y-1">
                <a href="/" class="tajawal text-primary font-regular">Inicio</a>
                <a href="/galeria" class="tajawal text-primary font-regular">Galería</a>
                <a href="/reserva" class="tajawal text-primary font-regular">Reservá</a>
                <a href="/ubicacion" class="tajawal text-primary font-regular">Ubicación</a>
            </ul>
        </div>
        <div class="flex flex-col gap-y-4 items-center md:items-start">
            <h1 class="uppercase tajawal text-primary font-semibold text-lg">Encuentranos en:</h1>
            <div class="flex flex-col gap-y-1">
                <a class="flex items-center mb-2" href="mailto:limitesuresquel@gmail.com" target="_blank" rel="noopener">
                    <IconBooking class="text-primary"/>
                    <span class="ml-1 text-primary tajawal font-regular text-md">Booking</span>
                </a>
                <a class="flex items-center mb-2" href="mailto:limitesuresquel@gmail.com" target="_blank" rel="noopener">
                    <IconTrivago class="text-primary"/>
                    <span class="ml-1 text-primary tajawal font-regular text-md">Trivago</span>
                </a>
            </div>
        </div>

    </div>
</footer>