---
import IconPhone from "../components/icons/icon-phone.astro";
import IconInstagram from "../components/icons/icon-instagram.astro";
import IconMail from "../components/icons/icon-mail.astro";
---

<header class="flex justify-center md:justify-end py-2 md:px-8">
    <div class="flex items-center gap-x-1 md:gap-x-4">
        <a
            href="mailto:limitesuresquel@gmail.com"
            target="_blank"
            rel="noopener"
            class="flex gap-x-1 items-center"
        >
            <IconMail
                class="w-3 h-4 md:w-6 md:h-6 text-primary hover:text-[#0C6AC6]"
            />
            <span
                class="font-tajawal text-[9px] md:text-lg text-primary font-regular hover:text-[#0C6AC6]"
                >limitesuresquel@gmail.com</span
            >
        </a>
        <a
            href="https://wa.me/+5492945670227"
            target="_blank"
            rel="noopener"
            class="flex gap-x-1 items-center"
        >
            <IconPhone
                class="w-3 h-4 md:w-6 md:h-6 text-primary hover:text-[#0C6AC6]"
            />
            <span
                class="font-tajawal text-[9px] md:text-lg text-primary font-regular hover:text-[#0C6AC6]"
                >+54 9 2945 670227</span
            >
        </a>

        <a
            href="https://www.instagram.com/limitesuresquel/?hl=es-la"
            target="_blank"
            rel="noopener"
            class="flex gap-x-1 items-center"
        >
            <IconInstagram
                class="w-3 h-4 md:w-6 md:h-6 text-primary hover:text-[#0C6AC6]"
            />
            <span
                class="font-tajawal text-[9px] md:text-lg text-primary font-regular hover:text-[#0C6AC6]"
                >limitesuresquel</span
            >
        </a>
    </div>
</header>
