---
import { Image } from "astro:assets";
import img0 from '@/../public/img-0.jpg'
import img1 from '@/../public/img-1.jpg'
import img2 from '@/../public/img-2.jpg'
import img3 from '@/../public/img-3.jpg'
---

<section class="grid grid-cols-1  xl:grid-cols-[1020px_minmax(200px,_1fr)] 2xl:grid-cols-[1380px_minmax(100px,_1fr)] xl:max-h-[700px] gap-x-2 2xl:pr-2">
    <div class="grid">
        <div class="flex items-end">
            <div class="flex mb-12 flex-col justify-end absolute bg-primary bg-opacity-[0.6] w-full xl:w-[1020px] 2xl:w-[1380px] py-4">
                <h1 class="text-white -mb-2 md:-mb-4  uppercase text-4xl md:text-8xl font-tajawal font-bold tracking-widest ml-12">Limite Sur</h1>
                <h3 class="text-secondary font-semibold text-xs  md:text-2xl uppercase md:tracking-[0.18em] ml-12 md:ml-14">Un lugar único en la patagonia</h3>
            </div>
            <Image class={'bg-cover bg-center w-full max-h-[700px]'} src={img0} alt='img0'/>
        </div>
    </div>
    <div class="grid grid-cols-3 xl:grid-cols-1 items-center mx-auto ">
        <Image src={img1} alt='img1' class={'xl:w-[600px] 2xl:w-[540px] h-[120px] sm:h-[160px] lg:min-h-[220px] bg-cover bg-center'}/>
        <Image src={img2} alt='img9' class={'xl:w-[600px] 2xl:w-[540px] h-[120px] sm:h-[160px] lg:min-h-[220px] bg-cover bg-center'}/>
        <div class="grid items-end ">
            <Image src={img3} alt='img12' class={' xl:w-[600px] 2xl:w-[540px] h-[120px] sm:h-[160px] lg:min-h-[220px] bg-cover bg-center'}/>
            <a href="/galeria" class="absolute grid right-0 lg:right-3 mx-2 my-4 border border-transparent rounded-xl bg-[#84909A] hover:bg-[#949CA3] transition bg-opacity-[0.8] p-1 md:py-1 md:px-2"><span class="text-white text-[8px] md:text-sm font-regular">Ver más fotos</span></a>
        </div>
    </div>
</section>