---
import LogoNavbar from '../components/LogoNavbar.astro'
import MenuResponsive from '../components/MenuResponsive.astro'
import IconMenu from '../components/icons/icon-menu.astro'
---
<div class="flex justify-around xl:justify-between items-center bg-primary xl:px-44">
    <div>
        <a href="/" rel="noopener" aria-label="Limite Sur"><LogoNavbar class="h-full lg:h-40 w-full "/></a>
    </div>
    <nav aria-label="Menú de navegación" aria-hidden class="hidden md:flex gap-x-12 p-4 text-white font-tajawal uppercase text-3xl font-bold">
        <a href="/" class="hover:text-secondary">Inicio</a>
        <a href="/galeria" class="hover:text-secondary">Galería</a>
        <a href="/reserva" class="hover:text-secondary">Reservá</a>
        <a href="/ubicacion" class="hover:text-secondary">Ubicación</a>
    </nav>
    
    <div class="flex md:hidden" >
        <MenuResponsive/>
    </div>
    <nav id="mennupal" class="md:hidden hidden flex-col fixed h-full z-50 w-full top-0 items-end bg-primary bg-opacity-[0.5]">
        <IconMenu id="close" class="flex mx-8 my-20" loading="eager"/>
        <ul aria-label="Menú de navegación" class="flex flex-col gap-y-20 justify-center items-center mb-32 w-full h-full text-white font-tajawal uppercase text-3xl font-bold">
            <a href="/">Inicio</a>
            <a href="/galeria">Galería</a>
            <a href="/reserva">Reservá</a>
            <a href="/ubicacion">Ubicación</a>
        </ul>
    </nav>
</div>

<script>
    const mennuResponsive = document.getElementById('menuResponsive');
    const mennupal = document.getElementById('mennupal');
    const buttonClose = document.getElementById('close');

    mennuResponsive?.addEventListener('click', () => {
        const mennupal = document.getElementById('mennupal');
        mennuResponsive?.classList.toggle('hidden')
        mennupal?.classList.remove('hidden')
        mennupal?.classList.add('flex', 'animate-flip-up', 'animate-once', 'animate-duration-500', 'animate-delay-100', 'animate-ease-linear')
        
        
    })
    buttonClose?.addEventListener('click', () => {
        mennuResponsive?.classList.toggle('hidden')
        mennupal?.classList.remove('flex')
        mennupal?.classList.add('hidden')
    })
</script>
