---
import '@fontsource/tajawal';
interface Props {
	title: string;
	description: string;
}

const {description, title } = Astro.props;
import Header from '../sections/Header.astro';
import Navbar from '../sections/Navbar.astro';
import Footer from '../sections/Footer.astro';
import Whatsapp from '../components/Whatsapp.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<div class="min-h-[100dvh]">
		<Whatsapp/>
		<Header/>
		<Navbar/>
		<body>
			<slot />
		</body>
		<Footer/>
	</div>
</html>
<style is:global>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;
		list-style: none;
	}
	html {
		/* font-family: 'Tajawal', sans-serif; */
		/* font-family: 'Josefin Slab Variable', serif; */
		background: #ffffff;
	}
</style>
